{% extends 'store/base.html' %}

{% block header %} <h1 class="h2">Dashboard</h1> {% endblock header %}

{% block content %}
<div class="row">

    <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Finished Items</h4>
                <p class="card-description">
                    View the items in the store that needs to be replenished.
                </p>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Quantity Remaining</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if obj %}
                            {% for o in obj %}
                            <tr>
                                <td>{{o.name}}</td>
                                <td>{{o.recent_quantity}}</td>
                                <td><span class="text-danger">Finished</span></td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <a href="{% url 'finished-items' %}">View all finished items..</a>
            </div>
        </div>
    </div>

    <div class="card" style="width: 15rem;">
        <div class="card-body">
            <h5 class="card-title">Add New Item</h5>
            <p class="card-text">Add a new item to the store, to keep track of it.</p>
            <a href="{% url 'add-item' %}" class="btn btn-outline-primary btn-sm">Get Started</a>
        </div>
    </div>
    <div class="card ms-3" style="width: 15rem;">
        <div class="card-body">
            <h5 class="card-title">Issue An Item</h5>
            <p class="card-text">Got an Item to issue out? Do it here.</p>
            <a href="{% url 'issue-item' %}" class="btn btn-outline-primary btn-sm">Get Started</a>
        </div>
    </div>
</div>
{% endblock content %}